body{
    background-color: black;
}
h2{
    color: white;
    text-decoration: underline;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: wavy; */
  
    text-align: center;
}
#two{
    color: aquamarine;
}
.first{
    color: red;
    border: 2px solid red;
}
.second{
    color: cyan;
    border: 2px double cyan;
    /* border-style: ; */
}